@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #141210;
  color: #f2efea;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
